<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uiloalxise.honoka.mapper.QQDuelMapper">
    <insert id="addDuelPlayer">
        insert into duel_player (open_id, money, win, lost, user_name) values (#{openId},#{money},#{win},#{lost},#{userName});
    </insert>

    <!-- 交到审核中去防止出意外   -->
    <update id="updateDuelPlayerOnlyNameByOpenId">
        UPDATE duel_player
        SET new_user_name = #{userName}
        WHERE open_id = #{openId};
    </update>
    <update id="updateDuelPlayerByOpenIdExceptName">
        UPDATE duel_player
        SET
            money = #{money},
            win = #{win},
            lost = #{lost}

        WHERE open_id = #{openId};
    </update>
    <update id="processAll">
        UPDATE duel_player
        SET user_name = new_user_name
    </update>

    <select id="selectDuelPlayerByOpenId" resultType="com.uiloalxise.pojo.entity.DuelPlayer">
        select * from duel_player where open_id = #{openId};
    </select>

    <select id="rankDuelPlayerByKd" resultType="com.uiloalxise.pojo.entity.DuelPlayer" >
        SELECT *
        FROM duel_player
        ORDER BY IF(lost = 0, NULL, (win / lost)) DESC
        LIMIT 10
        ;
    </select>
</mapper>