<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uiloalxise.honoka.mapper.QQGroupsMapper">

    <insert id="insertGroupsOpenId" parameterType="java.util.Set">
        INSERT IGNORE INTO qq_groups (groups_open_id)
        VALUES
        <foreach collection="groupsOpenIds" item="groupId" separator=",">
            (#{groupId})
        </foreach>
    </insert>
</mapper>
